
<section class="bg-gray-50 h-screen w-screen absolute top-0 left-0 flex items-center justify-center">
    <div class="bg-[#27374D] flex rounded-3xl mt-20 shadow-lg max-w-5xl text-white">

        <div class="sm:block hidden w-1/2">
            <img class="rounded-2xl" src="images/reset password.png" alt="">
        </div>
        
        <div class="sm:w-1/2 px-16 p-10">
            <h2 class="font-bold mt-6 flex justify-center text-2xl">Reset Password</h2>
            
            <form  method="POST" action="/dashboard" class="flex flex-col mt-2 gap-1" >
                <p class="text-xs mt-8 ml-2 flex">Old Password</p>
                <input class="p-2 text-black rounded-3xl border" type="password" name="currentPassword" placeholder="Enter your old password" id="">

                <p class="text-xs mt-2 ml-2 flex">New Password</p>
                <input class="p-2 text-black rounded-3xl border" type="password" name="newPassword" placeholder="Enter your new password" id="">
                
                <p class="text-xs mt-2 ml-2 flex">Confirm Password</p>
                <input class="p-2 text-black rounded-3xl border" type="password" name="password" placeholder="Enter your confirm password" id="">
        
                <button class="bg-[#526D82] rounded-3xl mt-7 mb-5 text-white text-ms py-2 hover:scale-105 duration-300">Confirm</button>
                <a href="/dashboard" class="text-xs mt-5 ml-2 flex items-center justify-center">back to Dashboard!</a>
            </form>
          </div>
    </div>
</section>