<section class="pt-2.5 bg-slate-200">
  <div class="flex gap-5 max-md:flex-col max-md:gap-0">
    <aside class="flex flex-col w-[28%] max-md:ml-0 max-md:w-full">
      <nav class="flex flex-col grow items-start py-20 pr-20 pl-6 mx-auto w-full text-xl font-semibold text-white bg-slate-700 max-md:px-5 max-md:mt-10">
        <div class="self-center text-4xl font-extrabold">SIBACA</div>
        <div class="flex gap-5 mt-11 whitespace-nowrap max-md:mt-10">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b60de2b05833aae014f700c15004065d740f7d013e04abe31fc4ffff3485b48b?" class="shrink-0 aspect-[1.03] w-[30px]" />
          <div class="flex-auto my-auto"><a href="dashboardMhs">Dashboard</a></div>
        </div>
        <div class="flex gap-5 mt-9">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/e365d1cf19fd1044d2daa4f94170b7f2820a62d9c007c82d8d8a3d92dc531247?" class="shrink-0 aspect-[0.86] w-[25px]" />
          <div class="flex-auto my-auto"><a href="LihatBuku">Lihat Buku</a></div>
        </div>
        <div class="flex gap-5 mt-8">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/7089de8e39479018adcd656b47318a42920e119966f6c5dd3b5cc790b623c66e?" class="shrink-0 aspect-[0.86] w-[25px]" />
          <div class="flex-auto"><a href="PinjamBuku">Pinjam Buku</a></div>
        </div>
        <div class="flex gap-5 mt-8">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/10ca86c0fa9f5c4743f2eac8520827b728b57241d504744cbd15b00d130920c4?" class="shrink-0 aspect-[0.86] w-[25px]" />
          <div class="flex-auto"><a href="KembalikanBuku">Kembalikan buku</a></div>
        </div>
        <div class="flex gap-4 mt-7 whitespace-nowrap">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c48306110fc090c44783725041e9a4a01f51f1f38c250b2ad64a43c1789ebd38?" class="shrink-0 aspect-square w-[29px]" />
          <div class="flex-auto my-auto"><a href="ProfileMhs">Profile</a></div>
        </div>
        <div class="flex gap-4 mt-8">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/87b551cf3aa5a343fcfd98828ff6a3e81da468dc042b833246ce10edcd57e44f?" class="shrink-0 aspect-square w-[33px]" />
          <div class="flex-auto my-auto"><a href="RiwayatPeminjaman">Riwayat peminjaman</a></div>
        </div>
        <div class="flex gap-5 mt-9">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3a33e1545f0e1600b4a06c1ea80cb88c0790aa555d25c184928c8945a1779dba?" class="shrink-0 aspect-[1.14] w-[33px]" />
          <div class="flex-auto my-auto"><a href="/logout">Log Out
            </a></div>
        </div>
      </nav>
    </aside>
    <main class="flex flex-col ml-5 w-[72%] max-md:ml-0 max-md:w-full">
      <header class="flex flex-col self-stretch my-auto max-md:mt-10 max-md:max-w-full">
        <h1 class="justify-center self-start px-5 py-7 text-4xl font-extrabold rounded-md shadow-sm bg-slate-400 bg-opacity-20 text-slate-700">
          Profil User
        </h1>
      </header>
      <section class="flex flex-col pt-5 pb-16 mt-9 text-xl font-semibold text-white rounded-3xl bg-slate-500 max-md:max-w-full">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/e208268ee5a48b8df7bf695de2fc0f80c834449c74bb75e16fe157a01b2b6201?apiKey=863c3774457247cf9941fba7937e9907&"
          alt="User profile image"
          class="self-center max-w-full aspect-[1.27] w-[146px]"
        />
        <div class="flex flex-col px-16 mt-2.5 max-md:px-5 max-md:max-w-full">
          <label for="nameInput" class="self-start ml-3.5 max-md:ml-2.5">Nama</label>
          <input id="nameInput" class="justify-center items-start px-6 py-5 mt-2 whitespace-nowrap bg-white rounded-3xl text-zinc-600 text-opacity-50 max-md:px-5 max-md:max-w-full" value="Nama" aria-label="Nama" />
          <label for="nimInput" class="self-start mt-7 ml-3.5 max-md:ml-2.5">NIM</label>
          <input id="nimInput" class="justify-center items-start px-6 py-5 mt-2 whitespace-nowrap bg-white rounded-3xl text-zinc-600 text-opacity-50 max-md:px-5 max-md:max-w-full" value="NIM" aria-label="NIM" />
          <label for="emailInput" class="self-start mt-7 ml-3.5 max-md:ml-2.5">Email</label>
          <input id="emailInput" class="justify-center items-start px-6 py-5 mt-2 bg-white rounded-3xl text-zinc-600 text-opacity-50 max-md:px-5 max-md:max-w-full" value="Edit Email" aria-label="Email" />
          <label for="phoneInput" class="self-start mt-7 ml-3.5 max-md:ml-2.5">No HP</label>
          <input id="phoneInput" class="justify-center items-start px-6 py-5 mt-2 rounded-3xl bg-zinc-300 text-zinc-600 text-opacity-50 max-md:px-5 max-md:max-w-full" value="Edit No HP" aria-label="Edit No HP" />
          <label for="addressInput" class="self-start mt-7 ml-3.5 max-md:ml-2.5">Alamat</label>
          <input id="addressInput" class="justify-center items-start px-6 py-5 mt-2 rounded-3xl bg-zinc-300 text-zinc-600 text-opacity-50 max-md:px-5 max-md:max-w-full" value="Edit Alamat" aria-label="Edit Alamat" />
          <label for="roleInput" class="self-start mt-8 ml-3.5 max-md:ml-2.5">Role</label>
          <div class="flex gap-5 py-4 pr-20 pl-7 mt-1.5 rounded-3xl bg-zinc-300 text-zinc-600 text-opacity-50 max-md:flex-wrap max-md:px-5 max-md:max-w-full">
            <input id="roleInput" class="flex-auto" value="Masukkan Role" aria-label="Masukkan Role" />
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/6e7f4b874e63a880bd9a4bed983cb58da858e0ea1774ee1ece94d0162ecaa8ba?apiKey=863c3774457247cf9941fba7937e9907&"
              alt="Role icon"
              class="shrink-0 aspect-[1.47] w-[25px]"
            />
          </div>
          <button class="justify-center self-end px-16 py-2 mt-10 whitespace-nowrap rounded-3xl bg-slate-700 max-md:pr-6 max-md:pl-6">
            Simpan
          </button>
        </div>
      </section>
    </main>
  </div>
</section>